@model startCoffeeShopLab.Models.formViewModel

@{
    ViewBag.Title = "Coffee Shop Home Page";
}
<div>
    @using (Html.BeginForm("SubmitForm", "Home", FormMethod.Post))
    {
        @ViewBag.Success
        @ViewBag.Failure

        @Html.LabelFor(x => x.firstName)
        @Html.EditorFor(x => x.firstName)
        //change attributes
        //@Html.EditorFor(x => x.firstName, new { htmlAttributes = new { @class = "clientFN", id = "newid" } } )
        @Html.LabelFor(x => x.lastName)
        @Html.EditorFor(x => x.lastName)
        @Html.LabelFor(x => x.email)
        @Html.EditorFor(x => x.email)
        <button type="submit">Here</button>
    }
</div>
